html,body,#__next {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

code {
  background: #f3f4f6;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

main {
  max-width: 900px;
  margin: 0 auto;
}
